* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}
/* 
.header{
    display: inline block;
    border-bottom:5px white ;
} */

.intro{
  
    background-image: url(images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh   ;

    display:flex;
    flex-direction: column;

    gap: 30px;
    color: rgb(255, 255, 255);
    list-style-type: none;
}


.hero-content{
    flex:1;
    display:flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    width: 100%;
}


.hero{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
    text-shadow:
    -2px -2px 0 #555,
     2px -2px 0 #555,
    -2px  2px 0 #555,
     2px  2px 0 #555,
     0px  4px 10px rgba(109, 109, 109, 0.4);
    
}

.hero-icons{
    display: flex;
    gap: 20px; 
    font-size: 30px;
    justify-content: center;
}

.hero-icons a {
    color: white;
    transition: color 0.3s;
}

.hero-icons a:hover {
    color: #767676;
}


.nav ul{
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-image: url(background.jpg); */  
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    font-weight:700;
    font-size: 18px;
    /* background-color: rgb(0, 0, 0); */
    color: white;
    list-style-type: none;

    a{
        text-decoration:none;
        color: rgb(255, 254, 254);
    }
    a:hover {
        color: rgb(0, 0, 0);
    }
    /* a:active {
        color: orange;
    }    */
    a:focus {
        color: rgb(0, 0, 0);
        background-color: rgb(150, 176, 204);
    }
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 7px 13px;
    transition: background-color 0.5s;
}

nav ul li a.active {
    color: rgb(255, 0, 128); 
    border: 1px #555;
    border-radius: 3px;
}

.nav {
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-image: url(background.jpg); */
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    font-weight:700;
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.3s ease; 
    position: fixed; 
    width: 100%;
    z-index: 1000;

}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
}



body{
    font-family: Impact,Arial,sans-serif;/*'Geneva', Tahoma,Verdana, sans-serif*/
    line-height: 1.6;
    width:100%;
    text-align: center;
}





.about{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/*'Geneva', Tahoma,Verdana, sans-serif*/
    line-height: 1.6;
    padding:40px 60px ;
    font-size: 18px;
    width:100%;
    background-color: rgb(0, 0, 0);
    color: rgb(199, 199, 199);
    text-align:left;
}
.about p{
    max-width: 600px;    
    margin: 0 auto;
}





.skills{
    font-family: Impact,Arial,sans-serif;/*'Geneva', Tahoma,Verdana, sans-serif*/
    line-height: 1.6;
    padding: 40px 100px;
    width:100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.skills-container{
    padding: 10px 150px;
    max-width: 1800px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 70px
}

.skills button{
    margin: 30px;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.636);
    color: white;
    font-size: large;
    text-align: center;
    border: none;
}

.skills button:hover {
    background-color: rgb(0, 141, 141);
}

.skills-item{
    flex:1;
    padding: 10px; 
    min-width: 300px;
}

.skills-item i{
    font-size: 50px;
    margin: 20px; 
}

.skills-item p{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: left;
}






.project{
    font-family: Impact,Arial,sans-serif;/*'Geneva', Tahoma,Verdana, sans-serif*/
    line-height: 1.6;
    padding: 60px 20px 100px 20px;
    width:100%;
    background-color: rgb(234, 234, 234);
    color: rgb(0, 0, 0);
    text-align: center;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:20px; 
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    max-width: 1200px;
}


.project-item{
    border-radius: 8px;
    position: relative;
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    text-decoration: none; 
    overflow: hidden;
    transition: transform 0.5s ease; 
}
/* 
.project-item:hover {
     transform: scale(1.03);  
} */

.project-item img{
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
    transition: .3s;
}

.project-item:hover img{
    filter: brightness(0.3);
}

.project-item h1{
    position: absolute;
    top: 30px;
    left: 0;
    right:0; 
    color: white;
    font-weight: bold; 
    padding: 15px;
    font-size: 15px;
    text-align: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
}

.project-item p{
    position: absolute;
    top: 60px;
    left: 0;
    right:0; 
    color: white;
    padding: 15px;
    font-size: 10px;
    text-align: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
}

.project-item:hover h1{
    opacity: 1;
}
.project-item:hover p{
    opacity: 1;
}





.contact{
    font-family: Impact,Arial,sans-serif;/*'Geneva', Tahoma,Verdana, sans-serif*/
    line-height: 1.6;
    padding: 100px 20px;
    width:100%;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    text-align: center;
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px; 
    flex-wrap: wrap;
}

.contact-item i{    
    display: flex;
    flex-direction: column;
    font-size:60px; 
    margin-bottom:40px;
    transition: color 0.3s; 
}
.contact-item i:hover {
    color: #dbdbdb; /* Light gray on hover */
}
.contact span{
    display: block;
    font-size:20px; 
    margin-bottom:40px;
    gap: 20%; 
}
.contact-item p, .contact-item a {
    font-size: 18px;
    color: #ccc;           
    text-decoration: none;
}




footer ul{
    padding: 20px;
    font-size: 15px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(55, 55, 55);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    

    a{
        text-decoration:none;
        color: rgb(55, 55, 55);
    }

    a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(150, 176, 204);
    }
        
    a:active {
        color: rgb(0, 0, 0);
    }

    a:focus {
        color: rgb(0, 0, 0);
        background-color: rgb(150, 176, 204);
    }

}







.modal{
    display: none;
    position:fixed; 
    justify-content: center;
    align-items: center;
    z-index: 20;
    width:100%;
    height: auto;
    inset: 0;
    background-color: rgba(0,0,0,0.85); 
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease-in;

}
.modalContent{
    background: rgb(25, 25, 25);
    height: auto;
    max-width: 500px;
    width:90%;
    overflow: hidden;


    /* transform: translateY(20px);
    transition: transform 0.1s ease; */
}

.modal.active{
    opacity: 1;
    pointer-events: auto;
}

.modal.active .modalContent{
    transform: scale(1) translateY(0);
}


.modal img{
    width: 100%;
}
#modalH{
    padding-top: 15px;
    color: #2d2d2d;
    background: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    font-weight: bold;
}
#modalText{
    padding: 12px;
    color: #565656;
    font-weight: 300;
    background: whitesmoke;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#modalLanguage{
    padding-bottom: 20px;
    color: #767676;
    background: whitesmoke;
    font-weight: 200;
    font-size: 15px;
}
.modalFooter{
    padding: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background: rgb(25, 25, 25);
    justify-content: flex-start;

    background-color: rgb(25, 25, 25);
}
.modalFooter button{
    font-weight:700;
    font-size: 14px;
    color: white;
    background-color: rgb(25, 25, 25);
    border: none;
}
.modalFooter button:hover {
        color: rgb(255, 119, 0);
    }