* {

margin: 0;

padding: 0;

box-sizing: border-box; /* A common reset for consistent box model behavior */


}





.nav ul{
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
    font-size: 18px;
    background-color: rgb(94, 139, 187);
    color: rgb(0, 0, 0);
    list-style-type: none;

    a{
        text-decoration:none;
        color: rgb(0, 0, 0);
    }

    /* a:link{
    color: rgb(0, 0, 0);
    }

    a:visited {
    color: rgb(0, 0, 0);
    } */

    a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(150, 176, 204);
    }

    a:active {
        color: rgb(0, 0, 0);
    }

    a:focus {
        color: rgb(0, 0, 0);
        background-color: rgb(150, 176, 204);
    }
}



.Body{
    font-family: Impact,Arial,sans-serif;/*'Geneva', Tahoma,Verdana, sans-serif*/
    line-height: 1.6;
    padding: 40px;
    width:100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;
}



.footer{

margin-top: 50px;

padding: 12px;

width: 100%;

display: flex;

flex-direction: row;

justify-content: center;





background-color: rgb(94, 139, 187);

color: rgb(0, 0, 0);

list-style-type: none;



a{

text-decoration:none;

color: rgb(0, 0, 0);

}

/* a:link{

color: rgb(0, 0, 0);

}



a:visited {

color: rgb(0, 0, 0);

} */



a:hover {

color: rgb(0, 0, 0);

background-color: rgb(150, 176, 204);

}



a:active {

color: rgb(0, 0, 0);

}



a:focus {

color: rgb(0, 0, 0);

background-color: rgb(150, 176, 204);

}



}



